<!-- Optional additional links to insert in sidebar nav -->


<a style = "text-decoration:none;"
class="category-link {% if page.title == 'Projects'%} active{% endif %}"
href = "{{site.baseurl}}/resources">
Resources
</a>

<a style = "text-decoration:none;"
class="category-link {% if page.title == 'Projects'%} active{% endif %}"
href = "{{site.baseurl}}/projects">
Projects
</a>

<a style = "text-decoration:none;"
class="category-link {% if page.title == 'About' or page.top_tags %} active{% endif %}"
href = "{{site.baseurl}}/about">
About
</a>


<!--<a style = "text-decoration:none;"-->
<!--class="category-link {% if page.title == 'Contact' or page.top_tags %} active{% endif %}"-->
<!--href = "{{site.baseurl}}/contact">-->
<!--Contact-->
<!--</a>-->

