<!-- Optional additional links to insert in sidebar nav -->

<!--
<a style = "text-decoration:none;" 
class="category-link {% if page.title == 'Home' or page.top_tags %} active{% endif %}" 
href = "{{site.baseurl}}/">
Home
</a> 

--> 
<a style = "text-decoration:none;" 
class="category-link {% if page.title == 'Data Toolbox' or page.top_tags %} active{% endif %}" 
href = "{{site.baseurl}}/data_toolbox/">
Data Toolbox
</a> 


<a style = "text-decoration:none;" 
class="category-link {% if page.title == 'Blog Posts' or page.top_tags %} active{% endif %}" 
href = "{{site.baseurl}}/blog/">
Blog Posts
</a> 

<a style = "text-decoration:none;" 
class="page-link {% if page.title == 'Resource Review' %} active{% endif %}" 
href = "{{site.baseurl}}/resource-review">
Resource Review
</a> 

<a style = "text-decoration:none;"
 class="page-link {% if page.title == 'About Me' %} active {% endif %}"
 href = "{{site.baseurl}}/profile">
 About Me
</a>